.view-name-videos .view-wrapper,
.view-name-gallery .view-wrapper{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.field_gallery_images{
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	display: grid;
	grid-gap: 1rem;
}

/*Gallery Image Hover*/
.field_gallery_images div{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	text-align:center;
}
.field_gallery_images div img{
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}
.view-name-videos .views-row,
.view-name-gallery .views-view-responsive-grid__item{
	margin: 0 1rem 2rem;
}
.view-name-videos .views-row{
	padding: 0;
	box-shadow: none;
}
.views-view-responsive-grid__item-inner,
.view-name-videos .views-row{
	transition: .2s;
}
.view-name-videos .views-row:hover,
.view-name-gallery .views-view-responsive-grid__item:hover .views-view-responsive-grid__item-inner{
	border-radius: 10px;
	box-shadow: 0 5px 20px 0 rgba(190,190,205,.75);
}
.views-field-field-cover-image{
	position: relative;
}
.views-field-field-cover-image img{
	width: 100%;
}
.view-name-videos .views-row .views-field-field-youtube-link a:after,
.view-name-gallery .views-view-responsive-grid__item .views-field-field-cover-image a:after{
	content: "";
    position: absolute;
    left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	z-index: 10;
	background: rgba(0,0,0,0.25);
	transition-duration: .3s;
}
.view-name-videos .views-row:hover .views-field-field-youtube-link a:after,
.view-name-gallery .views-view-responsive-grid__item:hover .views-field-field-cover-image a:after{
	height: 100%;
}
.view-name-gallery .views-field-title,
.view-name-videos .views-field-title{
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s ease-in;
	font-size: inherit;
	display: inline-block;
	width: 100%;
}
.view-name-videos .views-row:hover .views-field-title a,
.view-name-gallery .views-view-responsive-grid__item:hover .views-field-title a{
	letter-spacing: .5px;
	padding-inline: 0;
}
.view-name-videos .views-field-field-youtube-link a.video-link{
	width: 100%;
	float: left;
	display: block;
}
.view-name-gallery .views-field-field-cover-image a:before,
.view-name-videos .views-field-field-youtube-link a:before{
	content: '\f144';
	font-family: 'Font Awesome 6 Free';
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: xxx-large;
	opacity: 0;
	z-index: 11;
	transition: 0.3s ease-in;
}
.view-name-gallery .views-field-field-cover-image a:before{
	content: '\f24d';
}
.view-name-gallery .views-field-field-cover-image a:hover:before,
.view-name-videos .views-field-field-youtube-link a:hover:before{
	opacity: 1;
}
.view-name-gallery .views-view-responsive-grid__item-inner .views-field-field-cover-image img{
	display: block;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@media(min-width: 992px){
	.field_gallery_images div img{
		filter: brightness(0.7);
	}
	.field_gallery_images div:hover img{
		filter: brightness(1);
	}
}

/*colorbox*/
#cboxWrapper,
#cboxContent{
	background: none;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxCurrent{
	position: fixed;
	opacity: 0;
	transition: .3s;
}
#cboxWrapper:hover #cboxPrevious,
#cboxWrapper:hover #cboxNext,
#cboxWrapper:hover #cboxClose,
#cboxWrapper:hover #cboxCurrent{
	opacity: 1;
}
#cboxPrevious,
#cboxNext{
	top: 50%;
	background: none;
	text-indent: unset;
}
#cboxPrevious{
	left: 0.5rem;
}
#cboxNext{
	right: 0.5rem;
	left: unset;	
}
#cboxPrevious:before,
#cboxNext:before,
#cboxClose:before{
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	color: #fff;
}
#cboxNext:before{
	content: '\f178';	
}
#cboxPrevious:before{
	content: '\f177';	
}
#cboxClose{
	top: .5rem;
	right: .5rem;
	background: none;
	text-indent: unset;
}
#cboxClose:before{
	content: '\f00d';	
}
#cboxCurrent{
	top: .5rem;
	left: .5rem;
}
#cboxTitle{
	background: none;
	color: #fff;
	left: 0;
	bottom: 0;
}