/*Facility*/
body.path-facilities .view-name-facilities .view-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2em;
}
.field_type_of_facility,
.field_document,
body.page-node-type-facility .content-region article .body{
	padding: 15px 20px 0 0;
}
.field_type_of_facility .field_type_of_facility,
.field_document .field_document{
	padding: 0;
	font-weight: 700;
}
body.page-node-type-facility .content-region article .body p strong{
	margin-bottom: 0;
}
.field_facility_images div{
	width: 24%;
	padding: 0 .5%;
	float: left;
}
.field_facility_images div:first-child{
	width: 100%;
}

/*Homepage News Block*/
#block-base-views-block-news-block-1 .slick-slide{
	margin: 0 1em;
	border-radius: 10px;
	position: relative;
}
/*
#block-base-views-block-news-block-1 .views-field-fieldset{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
}
#block-base-views-block-news-block-1 .views-field-fieldset > .field-content{
	position: absolute;
	bottom: 0;
	padding-inline: 1em;
}
#block-base-views-block-news-block-1 .views-field-title a{
	color: #fff;
}
*/	
#block-base-views-block-news-block-1 fieldset{
	padding: 1em 0.5em;
}	
	
/*Homepage Events Block*/
/*News*/
#block-base-newssubheading{
	padding: 0 5%;
}
#block-base-views-block-news-block-1{
	padding-block: 1em;	
}

.view-name-news .view-wrapper{
	display: grid;
	grid-gap: 2em;
}
#block-base-views-block-news-block-1 .view-wrapper{
	grid-gap: unset;
}
.view-name-news .views-row{
/*	box-shadow: 0 20px 30px 0 rgba(190,190,205,.75);
    min-height: 200px;
	border-radius: var(--border-radius-sm);*/
	padding: 0.5em;
	margin-bottom: 0;
}
.views-field-field-publishing-date{
	text-transform: uppercase;
    color: var(--light-color);
    font-size: var(--fs-xs);
}

/*Slick Carousel*/
.slick-dots li{
	width: 12px;
	height: 12px;
}
.slick-dots li button:before{
	font-size: 10px;
}
.slick-arrow{
	z-index: 10;
	top: 33% !important;
	display: none !important;
}
.slick-prev{
	left: 1% !important;
}
.slick-next{
	right: 3% !important;
}
.slick-arrow:before{
	color: #111;
	background: var(--tertiary-color);
	padding: 1em;
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;	
	transition: all 0.3s;
}
.slick-arrow:hover:before{
	background: var(--secondary-color);
	color: #fff;
}
.slick-prev:before{
	content: '\f104';
}
.slick-next:before{
	content: '\f105';
}


/*Events*/
.view-name-events .fa-solid,
.view-name-events .fa-regular{
	color: var(--light-color);
	padding: 0 5px;
	padding-right: 1em;
}
.views-field-field-speaker i.fa-microphone{
	float: left;
	line-height: 1.3;
}
.views-field-field-speaker{
	padding-bottom: 1em;
}
.views-field-field-speaker p{
	display: table-cell;
}
.view-name-events .views-row{
/*	box-shadow: 0 20px 30px 0 rgba(190,190,205,.75);
    min-height: 200px;
	padding: 2em;*/
	margin-bottom: 0;
}
.views-field-field-date-ran{
	padding-bottom: 1em;
}
.views-field-field-date-ran-1{
	padding-bottom: 0.75em;
}
.views-field-field-date-ran,
.views-field-field-date-ran-1{
	font-size: var(--fs-sm);
}


/*News*/
body.page-node-type-news #block-base-pagetitle{
	text-align: left;
	padding-inline: 5%;
}
body.page-node-type-news .content-wrapper{
	padding-top: 0;
}
body.page-node-type-news .field_publishing_date{
	margin-bottom: 1.5em;
}
body.page-node-type-news .field_image{
	padding-bottom: 1.5em;
	float: left;	
}
body.page-node-type-news article .body{
	padding-top: 0.75em;
}
.field_news_document .field_news_document{
	color: var(--light-color);
	font-size: var(--fs-sm);
}
.field_news_document .field_news_document::after{
	content: '';
	padding-left: 3px;
}
.file--application-pdf a,
.field_registration_link a{
	word-break: break-word;
}


/*Event Page*/
body.page-node-type-e .field_date_ran,
body.page-node-type-e .field_venue,
body.page-node-type-e .field_speaker{
	text-align: center;
	margin-bottom: 0.5em;
}
body.page-node-type-e .field_venue::before,
body.page-node-type-e .field_speaker p::before{
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	color: var(--primary-color);
	padding-right: 0.5em;
}
body.page-node-type-e .field_venue::before{
	content: '\f3c5';
}
body.page-node-type-e .field_speaker p::before{
	content: '\f130';
}
.field_event_cover_image img{
	display: block;
	margin: 0 auto;
}
.field_event_brochure .field_event_brochure,
.field_external_link .field_external_link,
.field_event_mode .field_event_mode,
.field_type_of_event .field_type_of_event,
.field_select_club .field_select_club,
.field_registration_link .field_registration_link{
	font-size: var(--fs-xs);
	font-weight: var(--fw-xb);
	font-family: 'Public Sans', sans-serif;
	text-transform: uppercase;
}
.event-overview-wrapper div > div{
	padding-bottom: 0.5em;
}
.field_organizer_info,
.field_registration_link{
	padding-bottom: 1em;
}
.field_registration_link .field_registration_link{
	padding: 0;
}
#block-base-views-block-news-block-1 img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.view-name-facilities img{
	display: block;
	margin: 0 auto;
}
.view-name-facilities .views-field-title{
	text-align: center;
}

.view-name-facilities .views-view-responsive-grid__item{
	box-shadow: 0px 0px 20px -5px #ccc;
    padding: .5em .5em 0;
    margin: 1em;
    border-radius: 6px;
}
.view-name-facilities .views-view-responsive-grid__item:first-child{
	margin-top: 0;
}

body.path-frontpage .content-bottom-region,
body.path-news .content-bottom-region,
body.path-media-news .content-bottom-region,
body.path-iit-newsletter .content-bottom-region,
body.path-press-notes .content-bottom-region,
body.page-node-type-news .content-bottom-region,
body.path-events .content-bottom-region,
body.page-node-type-e .content-bottom-region{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
}


/*Club*/
#view-campus-life .views-view-responsive-grid__item{
	box-shadow: 0 5px 20px 0 rgba(190,190,205,.75);
	padding: 0.25em;
	margin: 0.5em;
	border-radius: var(--border-radius-sm);
}
#view-campus-life .views-view-responsive-grid__item-inner{
	padding: 1em;
}
.views-field-field-club-banner img{
	display: block;
	margin: 0 auto;
}
#view-campus-life .views-field-title{
	margin-top: 1em;
}


/*Responsive Style*/
@media(min-width: 480px){
	.event-overview-wrapper{
		display: flex;
		justify-content: center;
		margin: 3em 0;
	}
	.event-overview-wrapper > div{
		padding: 0em 2em;
		border-right: solid 1px var(--lighter-color);
	}
	.event-overview-wrapper div:last-child{
		border: none;
	}
	.view-name-news .view-wrapper{
		grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	}
	.content-bottom-region .view-name-news .view-wrapper{
		grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
	}
}
@media(min-width: 640px){
	.field_facility_images{
		max-width: 55%;
		float: left;
		padding-right: 1rem;
	}
}
@media(min-width: 769px){
	#block-base-views-block-events-block-3{
		padding: 3em 5% 8em 5%;
	}
	body.page-node-type-news .field_publishing_date{
		margin-bottom: 1.5em;
	}
	body.page-node-type-news .field_image{
		max-width: 25em;
		padding-right: 2em;
	}
	.view-name-events .view-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em;
	}
	#block-base-views-block-events-block-3 .view-wrapper,
	.content-bottom-region .view-name-events .view-wrapper{
		grid-template-columns: repeat(3, 1fr);
	}
	#club-wrapper .img-block{
		display: flex;
		align-items: center;
	}
	#club-wrapper .img-block img{
		margin-right: 3em;
	}
	#club-wrapper .img-block .field_title{
		margin-block: 1em 0.5em;
	}
	#club-wrapper .field_contact_person_name{
		padding-bottom: 1em;
	}
}
@media(min-width: 992px){
	#block-base-views-block-news-block-1 .slick-slide{
	/*	margin-bottom: 3em;*/
	}
	body.page-node-type-news .field_publishing_date{
		margin-bottom: 3em;
	}
	body.page-node-type-news .field_image{
		max-width: 35em;
	}
	body.page-node-type-e #block-base-pagetitle,
	body.page-node-type-e .content-region{
		max-width: 50em;
		margin: 0 auto;
	}
	#club-wrapper{
		max-width: var(--max-width-md);
		margin: 0 auto;
	}
	.slick-arrow{
		display: block !important;
	}
	
}