/*Table - Tenders, MoUs, Grants*/
table{
	width: 100%;
/*	border: solid 1px #eee;*/
}
table thead{
/*	background: #555;
	color: #fff;*/
	background: var(--fourth-color);
	color: #333;
	font-size: var(--fs-sm);
	font-weight: var(--fw-b);
}
th{
	padding: 0.5rem;
	line-height: 1.2;
	font-weight: inherit;
}
th,td{
	border: solid 1px #ddd;
}
table.bt tr{
	padding: 1em;
	width: 100%;
	float: left;
}
tbody tr:nth-child(even){
	background: var(--tertiary-color);
}
tbody tr:hover a{
/*	text-decoration: underline;*/
}
table .views-field-edit-node{
	display: none;
}
body.user-logged-in table .views-field-edit-node{
	display: revert;
}

table.bt tbody td::before{
	margin-right: 1em;
}

@media(min-width: 640px){
	td{
		padding: 0.5em;
	}
}
@media(max-width: 640px){
/*	table {
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      margin: 0 auto;
      overflow-x: auto;
      white-space: nowrap;
    }
	.content-region{
		display: block !important;
	}
	th,td{
		min-width: 200px;
	}*/
	.table-responsive{
		overflow: hidden;
}
	table {
		overflow-x: auto;
		display: block;
	}

}