#block-base-views-block-testimonials-block-1{
	text-align: center;
	margin-bottom: 80px;
}
.view-name-testimonials .views-field-body{
	padding: 10px 5%;
}
.view-name-testimonials .views-field-field-author-picture img{
	border-radius: 50%;
}
.view-name-testimonials .views-field-title{
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
}
.view-name-testimonials .views-field-field-branch{
	color: #888;
	font-style: italic;
}



@media(min-width: 769px){
	.view-name-testimonials .views-field-body{
		padding: 20px 20%;
	}
}



/*Publications*/
body.path-publications .content-region{
	max-width: 50em;
	margin: 0 auto;
}
i.fa-link{
	font-size: var(--fs-sm);
}
.view-name-publications .item-list ul{
	padding: 0;
}
.view-name-publications .item-list ul li{
	padding: 1em 0;
    list-style: none;
	border-bottom: solid 1px #eee;
    border-radius: 4px;
    margin-bottom: 1em;
	font-style: italic;
}
.views-field-field-link-to-paper{
	padding-top: 3px;
}
