/*
	--wp--style--global--content-size: 823px;
    --wp--style--global--wide-size: 1080px;
*/

:root{
	--base-padding: calc(8px + 1.5625vw);
	--base-margin: calc(8px + 1.5625vw);
	--max-width: 1920px;
	--max-width-md: 60em;
	--max-width-sm: 30em;
	--max-width-lg: 80em;
	--border-radius-sm: 6px;
	--border-radius-xl: 25px;
	--border-radius-round: 50%;
	
}

/*Reset*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body,
ul{
	margin: 0;
	padding: 0;
}
ul{
	padding-left: 20px;
}
.header-top-region ul,
.footer-region ul{
	padding: 0;
}
.footer-region,
.footer-bottom-region{
	max-width: var(--max-width-lg);
	margin: 0 auto;
}
.footer-region{
	padding: 1em;
	clear: both;
}
#block-base-footeraddress{
	padding-top: 1rem;
}
ul.menu-sub-tab li,
#block-base-primary-local-tasks > ul li,
.header-top-region ul li,
.header-region ul li,
.footer-bottom-region ul li{
	display: inline;
	list-style: none;
	padding: 0 1px;
}
.footer-region ul li{
	list-style: none;
}

p.lead{
	padding-left: 2em;
	margin-bottom: 2em;
	border-left: solid 7px var(--secondary-color);
}
header .header-tab,
ul.menu-sub-tab li{
	margin: 0 0.25em 0.5em;
	float: left;
}
header .header-tab a,
ul.menu-sub-tab li a{
/*	background: var(--fourth-color);*/
	border: solid 2px var(--dark-color);
	border-radius: 30px;
}
header .header-tab a,
ul.menu-sub-tab li a{
	padding: 0.5rem 1.25rem;
	color: #000;
	margin: 0.5em 0;
	display: block;
	text-align: center;
	min-width: 8em;
}
header .header-tab a{
	margin: 0;
}
article ul.menu-sub-tab li a{
	text-align: left;
	border: none;
}
header .header-tab a:hover,
header .header-tab.active a,
ul.menu-sub-tab li a:hover,
ul.menu-sub-tab li a.is-active{
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}
article ul.menu-sub-tab li a:hover{
	background: none;
	letter-spacing: .01rem;
}
header .header-tab:hover a,
ul.menu-sub-tab li a:hover{
/*	letter-spacing: .02rem;
	color: #fff;*/
}
#block-base-page-title{
	padding: 0 5%;
}
#block-base-primary-local-tasks ul{
	margin-bottom: 20px;
}
.content-region article{
	clear: both;
}
.more-link{
	padding: 0.5em 1.5em;
	border: solid 1px var(--darker-color);
	background: none;
	display: inline-block;
	transition: 0.3s cubic-bezier(0, 0, 0.43, 1.49);
}
.more-link a{
	font-weight: var(--fw-b);
	color: var(--darker-color);	
	display: inline-block;
}
.more-link a:hover{
	text-decoration: none;
}
.more-link a:after{
	font-family: "Font Awesome 6 Free";
	content: "\f105";
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 0em;
	right: -20px;
	opacity: 0;
	transition: 0.3s cubic-bezier(0, 0, 0.43, 1.49);
	display: inline-block;
}
.more-link:hover{
	background: var(--secondary-color);
	border-color: var(--secondary-color);
	padding-right: 3em;
}
.more-link:hover a{
	transform: translateX(-10px);
	color: #fff;
}
.more-link:hover a:after{
	opacity: 1;
	right: -40px;
}
.views-element-container .more-link{
	display: block;
	width: max-content;
	margin: 2em auto;
	text-align: center;
}
.view-name-banner .more-link{
	margin-top: 1em;
	border-color: var(--secondary-color);
	background: var(--secondary-color);
	width: 200px;
}
#block-base-views-block-news-block-1 .more-link{
	margin-top: 0;
}
fieldset{
	border: none;
	padding: 1em 1em 0.625em;
}
.flex-container{
	display: flex;
}

i.fa-solid{
	padding-right: 5px;
}
.recruitment-title{
	font-size: 1.125rem;
	margin-bottom: .5rem;
}
.start-end-dates{
	font-size: var(--fs-sm);
	margin-bottom: .5rem;
}

.content-wrapper .content-left-region{
	width: 28%;
	padding-right: 5%;
}


@media(min-width: 768px){
	.content-left-region{
		width: 30%;
		float: left;
	}	
	.views-element-container .more-link{
		margin: 5em auto 0;
	}
}

@media(min-width: 1200px){
	#block-base-page-title{
		max-width: var(--max-width-lg);
	}
}
@media(min-width: 1400px){
	.footer-region{
		padding: 0;
	}
}